* {
  --bg-color: darkolivegreen;
  background-color: var(--bg-color)
}

.header {
  text-align: center;
  color: goldenrod;
  margin: auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* width: 600px; */
  /* width = (#rowCells x widthPX) + (#rowCells * 2) */

}
.pixel {
  height: 10px;
  width: 10px;
  margin-top: 0;
  border: 1px solid black;
} 