* {
  background-color: darkolivegreen;
}

.header {
  text-align: center;
  color: goldenrod;
  margin: auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 510px;
  height: 510px;
}
.pixel {
  height: 100px;
  width: 100px;
  margin-top: 0;
  border: 1px solid black;
} 